## Modify Data accrording previous conclusions

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.externals import joblib
from sklearn.preprocessing import StandardScaler

import sys
sys.path.insert(0, 'G:/work/GitHub/ml_baseline_things/functions/')
import supportFunctions as sf

## Conclusions from previous notebook:

* drop features:
 * passengerId
 * cabin (after extract the deck)
 * ticket
 * embarked
* missing data to recover:
 * <s>age</s>
* convert categorial to:
 * <s>sex - to int and to several columns</s>
* new features from:
 * <s>cabin (extract decks)</s>
 * <s>name (extract title)</s>
 * <s>age bands</s>
 * <s>fare </s>normalize and (?)<s> make bands</s>
 * <s>sibsp & parch - may be generated isAlone hasChildren/Parents hasHasb/Wife/</s>
 
 Finally convert to smaller memory size

In [2]:
dataTrain, dataTest, dataAll = sf.load_raw_data()

Train (891, 12); Test (418, 11); Total (1309, 12).

### Missing data recovery, SEX

In [3]:
for dataset in [dataTrain, dataTest]:
    dataset['Sex'] = dataset['Sex'].map({'female': 1, 'male': 0}).astype(int)
    
sexDummies = pd.get_dummies(dataTrain['Sex'], prefix='SexD', dummy_na=False)
dataTrain = pd.concat([dataTrain, sexDummies], axis=1)

sexDummies = pd.get_dummies(dataTest['Sex'], prefix='SexD', dummy_na=False)
dataTest = pd.concat([dataTest, sexDummies], axis=1)

### Missing data recovery, AGE
Strategy = median Age for Pclass=1 and Gender=0, Pclass=1 and Gender=1, and so on...

In [4]:
sf.check_missing_data(dataTrain, dataTest, ['Age'])
#dataTrain.loc[dataTrain['Age'].isnull() == True]

Train:
 Age    177
dtype: int64

Test:
 Age    86
dtype: int64

0

In [5]:
guess_ages = np.zeros((2,3))

for dataset in [dataTrain, dataTest]:
    for i in range(0, 2):
        for j in range(0, 3):
            guess_df = dataset[(dataset['Sex'] == i) & (dataset['Pclass'] == j+1)]['Age'].dropna()
            age_guess = guess_df.median()

            # Convert random age float to nearest .5 age
            guess_ages[i,j] = int(age_guess/0.5 + 0.5) * 0.5
            
    for i in range(0, 2):
        for j in range(0, 3):
            dataset.loc[(dataset.Age.isnull()) & (dataset.Sex == i) & (dataset.Pclass == j+1), 'Age'] = guess_ages[i,j]

#dataTrain.head()
sf.check_missing_data(dataTrain, dataTest, ['Age'])

Train:
 Age    0
dtype: int64

Test:
 Age    0
dtype: int64

0

### Extract title from name

In [6]:
for dataset in [dataTrain, dataTest]:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

In [7]:
dataTrain.Title.value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Col           2
Major         2
Ms            1
Sir           1
Don           1
Countess      1
Lady          1
Jonkheer      1
Mme           1
Capt          1
Name: Title, dtype: int64

In [8]:
for dataset in [dataTrain, dataTest]:
    dataset['Title'] = dataset['Title'].replace(['Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace(['Mlle','Ms', 'Lady'], 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    
dataTrain[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

    Title  Survived
0  Master  0.575000
1    Miss  0.704301
2      Mr  0.156673
3     Mrs  0.793651
4    Rare  0.318182

In [9]:
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}

for dataset in [dataTrain, dataTest]:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    #dataset['Title'] = dataset['Title'].fillna(0)

sf.check_unique_data(dataTrain, dataTest, 'Title')
#sf.check_missing_data(dataTrain, dataTest, ['Title'])

Train unique values:
 [1 3 2 4 5]

Test unique values:
 [1 3 2 4 5]

0

In [10]:
#make dummies
titleDummies = pd.get_dummies(dataTrain["Title"], prefix="TitleD", dummy_na=False)
dataTrain = pd.concat([dataTrain, titleDummies], axis=1)

titleDummies = pd.get_dummies(dataTest["Title"], prefix="TitleD", dummy_na=False)
dataTest = pd.concat([dataTest, titleDummies], axis=1)

### Extract AgeBands from Age

In [11]:
dataTrain['AgeBand'] = pd.cut(dataTrain['Age'], 5)
dataTrain[['AgeBand', 'Survived']].groupby(['AgeBand'], as_index=False).mean().sort_values(by='AgeBand', ascending=True)

            AgeBand  Survived
0    (0.34, 16.336]  0.550000
1  (16.336, 32.252]  0.336714
2  (32.252, 48.168]  0.412844
3  (48.168, 64.084]  0.434783
4    (64.084, 80.0]  0.090909

In [12]:
for dataset in [dataTrain, dataTest]:
    dataset['AgeBands'] = 0
    dataset['AgeBands'].loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32)] = 1
    dataset['AgeBands'].loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48)] = 2
    dataset['AgeBands'].loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64)] = 3
    dataset['AgeBands'].loc[(dataset['Age'] > 64)] = 4

dataTrain = dataTrain.drop('AgeBand', axis=1)

sf.check_unique_data(dataTrain, dataTest, 'AgeBands')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

Train unique values:
 [1 2 3 0 4]

Test unique values:
 [2 3 1 0 4]

0

### sibsp & parch new features generation

In [13]:
for dataset in [dataTrain, dataTest]:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1

dataTrain[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   FamilySize  Survived
3           4  0.724138
2           3  0.578431
1           2  0.552795
6           7  0.333333
0           1  0.303538
4           5  0.200000
5           6  0.136364
7           8  0.000000
8          11  0.000000

In [14]:
for dataset in [dataTrain, dataTest]:
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1
    dataset['HasWifeHasb'] = 0
    dataset.loc[dataset['SibSp'] > 0 , 'HasWifeHasb'] = 1
    dataset['HasBloodRelatives'] = 0
    dataset.loc[dataset['Parch'] > 0 , 'HasWifeHasb'] = 1
    

dataTrain[['IsAlone', 'Survived']].groupby(['IsAlone'], as_index=False).mean()

   IsAlone  Survived
0        0  0.505650
1        1  0.303538

### Syntetical union of features

In [15]:
for dataset in [dataTrain, dataTest]:
    dataset['Age*Class'] = dataset.Age * dataset.Pclass

dataTrain.loc[:, ['Age*Class', 'Age', 'Pclass']].head(10)

   Age*Class   Age  Pclass
0       66.0  22.0       3
1       38.0  38.0       1
2       78.0  26.0       3
3       35.0  35.0       1
4      105.0  35.0       3
5       75.0  25.0       3
6       54.0  54.0       1
7        6.0   2.0       3
8       81.0  27.0       3
9       28.0  14.0       2

### Fare bands

In [16]:
sf.check_missing_data(dataTrain, dataTest, ['Fare'])

Train:
 Fare    0
dtype: int64

Test:
 Fare    1
dtype: int64

0

In [17]:
#for test only
def get_median_fare_by_item (pClass, i):
    return dataTest.query('Pclass == {}'.format(pClass))['Fare'].mean()
    
for i in range(len (dataTest)):
    if pd.isnull(dataTest.loc[i,'Fare']):
        dataTest.loc[i,'Fare'] = get_median_fare_by_item (dataTest.loc[i,'Pclass'], i)

In [18]:
#dataTest.query('Pclass == 3')['Fare'].mean()
#dataTest.loc[dataTest['Fare'].isnull() == True]
#dataTest.loc[152,'Fare']#=None
#dataTest.loc[dataTest['Fare'].isnull() == True]

In [19]:
dataTrain['FareBand'] = pd.qcut(dataTrain['Fare'], 5)
dataTrain[['FareBand', 'Survived']].groupby(['FareBand'], as_index=False).mean().sort_values(by='FareBand', ascending=True)

            FareBand  Survived
0    (-0.001, 7.854]  0.217877
1      (7.854, 10.5]  0.201087
2     (10.5, 21.679]  0.424419
3   (21.679, 39.688]  0.444444
4  (39.688, 512.329]  0.642045

In [20]:
for dataset in [dataTrain, dataTest]:
    dataset['FareBands'] = 0
    dataset['FareBands'].loc[dataset['Fare'] <= 7.85] = 0
    dataset['FareBands'].loc[(dataset['Fare'] > 7.85) & (dataset['Fare'] <= 10.5)] = 1
    dataset['FareBands'].loc[(dataset['Fare'] > 10.5) & (dataset['Fare'] <= 21.67)] = 2
    dataset['FareBands'].loc[(dataset['Fare'] > 21.67) & (dataset['Fare'] <= 39.7)] = 3
    dataset['FareBands'].loc[dataset['Fare'] > 39.7] = 4
    
dataTrain = dataTrain.drop(['FareBand'], axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

### Cabin

In [21]:
decks = {"U": 0, "A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7, "T": 0}

for dataset in [dataTrain, dataTest]:
    dataset['DeckF'] = 0
    dataset['DeckF'] = dataset['Cabin'].fillna('U').apply(lambda c: decks.get(c[0], -1))

In [22]:
print (dataTest.DeckF.value_counts())
print (dataTrain.DeckF.value_counts())

0    327
3     35
2     18
4     13
5      9
6      8
1      7
7      1
Name: DeckF, dtype: int64
0    688
3     59
2     47
4     33
5     32
1     15
6     13
7      4
Name: DeckF, dtype: int64

In [23]:
#this code doesn work! why?
for dataset in [dataTrain, dataTest]:
    deckDummies = pd.get_dummies(dataset['Cabin'].fillna('U').apply(lambda c: c[0])
                              .replace('T', 'U'), prefix='DeckD', dummy_na=False)
    dataset = pd.concat([dataset, deckDummies], axis=1)

In [24]:
deckDummies = pd.get_dummies(dataTrain['Cabin'].fillna('U').apply(lambda c: c[0])
                              .replace('T', 'U'), prefix='DeckD', dummy_na=False)
dataTrain = pd.concat([dataTrain, deckDummies], axis=1)

deckDummies = pd.get_dummies(dataTest['Cabin'].fillna('U').apply(lambda c: c[0])
                              .replace('T', 'U'), prefix='DeckD', dummy_na=False)
dataTest = pd.concat([dataTest, deckDummies], axis=1)

### Drop features

In [25]:
#* drop features:
# * passengerId
# * cabin (after extract the deck)
#* ticket
# * embarked
#to be dropped
toBeDropped = ['PassengerId', 'Cabin', 'Ticket', 'Embarked', 'Name']

dataTrainTarget = dataTrain["Survived"]

dataTrain = dataTrain.drop(toBeDropped, axis=1)
dataTrain = dataTrain.drop('Survived', axis=1)

dataTest = dataTest.drop(toBeDropped, axis=1)

dataTrain.shape, dataTrainTarget.shape, dataTest.shape

((891, 30), (891,), (418, 30))

### Final checkers

In [26]:
sf.check_missing_data(dataAll, dataTest)
#TODO неплохо было бы проверять на уникальные значения в тесте и трейне - чтобы бились

Train:
 Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
dtype: int64

Test:
 Pclass               0
Sex                  0
Age                  0
SibSp                0
Parch                0
Fare                 0
SexD_0               0
SexD_1               0
Title                0
TitleD_1             0
TitleD_2             0
TitleD_3             0
TitleD_4             0
TitleD_5             0
AgeBands             0
FamilySize           0
IsAlone              0
HasWifeHasb          0
HasBloodRelatives    0
Age*Class            0
FareBands            0
DeckF                0
DeckD_A              0
DeckD_B              0
DeckD_C              0
DeckD_D              0
DeckD_E              0
DeckD_F              0
DeckD_G              0
DeckD_U              0
dtype: int64

0

In [27]:
#check data types

### Scalling

In [28]:
scaler = StandardScaler()
dataAll = pd.concat([dataTrain, dataTest])
scaler.fit(dataAll)

dataTrainScaled = pd.DataFrame(scaler.transform(dataTrain))
dataTestScaled = pd.DataFrame(scaler.transform(dataTest))

### Types optimizations

In [29]:
#before
dataTrain.info()
dataTest.info()
#dataTrain.memory_usage()
#dataTest.memory_usage()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 30 columns):
Pclass               891 non-null int64
Sex                  891 non-null int32
Age                  891 non-null float64
SibSp                891 non-null int64
Parch                891 non-null int64
Fare                 891 non-null float64
SexD_0               891 non-null uint8
SexD_1               891 non-null uint8
Title                891 non-null int64
TitleD_1             891 non-null uint8
TitleD_2             891 non-null uint8
TitleD_3             891 non-null uint8
TitleD_4             891 non-null uint8
TitleD_5             891 non-null uint8
AgeBands             891 non-null int64
FamilySize           891 non-null int64
IsAlone              891 non-null int64
HasWifeHasb          891 non-null int64
HasBloodRelatives    891 non-null int64
Age*Class            891 non-null float64
FareBands            891 non-null int64
DeckF                891 non-null int64
DeckD_A              891 non-null uint8
DeckD_B              891 non-null uint8
DeckD_C              891 non-null uint8
DeckD_D              891 non-null uint8
DeckD_E              891 non-null uint8
DeckD_F              891 non-null uint8
DeckD_G              891 non-null uint8
DeckD_U              891 non-null uint8
dtypes: float64(3), int32(1), int64(11), uint8(15)
memory usage: 114.1 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 30 columns):
Pclass               418 non-null int64
Sex                  418 non-null int32
Age                  418 non-null float64
SibSp                418 non-null int64
Parch                418 non-null int64
Fare                 418 non-null float64
SexD_0               418 non-null uint8
SexD_1               418 non-null uint8
Title                418 non-null int64
TitleD_1             418 non-null uint8
TitleD_2             418 non-null uint8
TitleD_3             418 non-null uint8
TitleD_4             418 non-null uint8
TitleD_5             418 non-null uint8
AgeBands             418 non-null int64
FamilySize           418 non-null int64
IsAlone              418 non-null int64
HasWifeHasb          418 non-null int64
HasBloodRelatives    418 non-null int64
Age*Class            418 non-null float64
FareBands            418 non-null int64
DeckF                418 non-null int64
DeckD_A              418 non-null uint8
DeckD_B              418 non-null uint8
DeckD_C              418 non-null uint8
DeckD_D              418 non-null uint8
DeckD_E              418 non-null uint8
DeckD_F              418 non-null uint8
DeckD_G              418 non-null uint8
DeckD_U              418 non-null uint8
dtypes: float64(3), int32(1), int64(11), uint8(15)
memory usage: 53.6 KB

In [30]:
for dataset in [dataTrain, dataTest]:
    for column in list(dataset.columns):
        if dataset[column].dtype == 'int64':
            dataset[column] = dataset[column].astype(int)
            continue
        if dataset[column].dtype == 'float64':
            dataset[column] = dataset[column].astype(np.dtype('Float16'))
            continue
        if dataset[column].dtype == 'int32':
            dataset[column] = dataset[column].astype(np.dtype('uint8'))
            continue

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning: Numeric-style type codes are deprecated and will result in an error in the future.
  import sys

In [31]:
dataTrain.info()
dataTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 30 columns):
Pclass               891 non-null int32
Sex                  891 non-null uint8
Age                  891 non-null float16
SibSp                891 non-null int32
Parch                891 non-null int32
Fare                 891 non-null float16
SexD_0               891 non-null uint8
SexD_1               891 non-null uint8
Title                891 non-null int32
TitleD_1             891 non-null uint8
TitleD_2             891 non-null uint8
TitleD_3             891 non-null uint8
TitleD_4             891 non-null uint8
TitleD_5             891 non-null uint8
AgeBands             891 non-null int32
FamilySize           891 non-null int32
IsAlone              891 non-null int32
HasWifeHasb          891 non-null int32
HasBloodRelatives    891 non-null int32
Age*Class            891 non-null float16
FareBands            891 non-null int32
DeckF                891 non-null int32
DeckD_A              891 non-null uint8
DeckD_B              891 non-null uint8
DeckD_C              891 non-null uint8
DeckD_D              891 non-null uint8
DeckD_E              891 non-null uint8
DeckD_F              891 non-null uint8
DeckD_G              891 non-null uint8
DeckD_U              891 non-null uint8
dtypes: float16(3), int32(11), uint8(16)
memory usage: 57.5 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 30 columns):
Pclass               418 non-null int32
Sex                  418 non-null uint8
Age                  418 non-null float16
SibSp                418 non-null int32
Parch                418 non-null int32
Fare                 418 non-null float16
SexD_0               418 non-null uint8
SexD_1               418 non-null uint8
Title                418 non-null int32
TitleD_1             418 non-null uint8
TitleD_2             418 non-null uint8
TitleD_3             418 non-null uint8
TitleD_4             418 non-null uint8
TitleD_5             418 non-null uint8
AgeBands             418 non-null int32
FamilySize           418 non-null int32
IsAlone              418 non-null int32
HasWifeHasb          418 non-null int32
HasBloodRelatives    418 non-null int32
Age*Class            418 non-null float16
FareBands            418 non-null int32
DeckF                418 non-null int32
DeckD_A              418 non-null uint8
DeckD_B              418 non-null uint8
DeckD_C              418 non-null uint8
DeckD_D              418 non-null uint8
DeckD_E              418 non-null uint8
DeckD_F              418 non-null uint8
DeckD_G              418 non-null uint8
DeckD_U              418 non-null uint8
dtypes: float16(3), int32(11), uint8(16)
memory usage: 27.0 KB

### Save data to dump

In [32]:
#TODO дату в файле
_ = joblib.dump([dataTrain, dataTrainTarget, dataTest, dataTrainScaled, dataTestScaled], 
            open('data_modified/dataDump.pkl', 'wb'), 9)

## what can be done more

In [33]:

- можно восстановить палубу исходя из класса и ценника билета
1 класс - A-E, самые дорогие в B
2 и 3 класс - D-G, в D - лучшие

- при разбиении возраста разбивал по cut, а не по qcut
- Syntetical union of features

SyntaxError: invalid syntax (<ipython-input-33-914690ee8bc2>, line 2)